<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/HomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <div class="image_logo"> <img src="/images/download.png" alt="logo" width="80px" height="80px"></div>
            </div>
            <div class="search ps-5">
                <form class="ml-auto d-flex" action="/home/search" method="GET">
                    <% if(typeof name !=="undefined" ) { %>
                        <input type="text" value="<%= name %>" placeholder="Search" class="input" name="search">
                        <% } else { %>
                            <input type="text" placeholder="Search" class="input" name="search">
                            <% } %>
                                <div class="icon_search" style="color: white;"> <i class="fas fa-search color_icon"></i>
                                </div>
                </form>
            </div>
            <div class="icon">
                <div class="cart">
                    <i class="fas fa-shopping-cart icon_cart"></i>
                    <div class="amount">1</div>
                </div>
                <div class="account"><img class="image" src="/images/anh.jpg" alt="username"> </div>
            </div>
        </div>
        <div class="content">
            <div class="image_advertisemen">
                <img src="/images/phone.jpg" alt="advertisement" class="advertisement">
            </div>
            <div class="content-nature">
                <div class="nature">
                    <img src="/images/nature.jpeg" alt="nature" class="image_nature">
                </div>
                <div class="waterfall">
                    <img src="/images/waterfall.jpg" alt="waterfall" class="image_waterfall">
                </div>
            </div>

        </div>
        <div class="line">
            <p class="name-line">Mặt hàng</p>
        </div>
        <div class="category">

            <a href="/home/computer" style="text-decoration:none ">
                <div class="items">
                    <img src="/images/computer.jpg" alt="computer" class="image_items">
                    <p class="id">Máy tính</p>
                </div>
            </a>

            <a href="/home/phone" style="text-decoration:none">
                <div class="items">
                    <img src="/images/phone.jpg" alt="phone" class="image_items">
                    <p class="id">Điện Thoại</p>
                </div>
            </a>
        </div>
        <div class="line">
            <p class="name-line">Sản Phẩm</p>
        </div>
        <div class="product">

            <% product.forEach(function(p, index){ %>

                <div class="iphone" id="9">
                    <a href="/detail?id=<%= p.id%> " class="pb-2" style="text-decoration: none; color: black;">
                        <img src="\<%= p.image%>" alt="macbook" class="iphone-id__image">
                        <p class="name-prsoduct">
                            <%= p.name%>
                        </p>
                        <p class="price-product">
                            <%= p.price%> đ
                        </p>


                    </a>
                </div>

                <% }); %>
        </div>
        <div class="footer">
            <div class="information">
                <p class="name-information">Cơ quan chủ quản: Học viện Kỹ thuật Mật mã </p>
                <p class="name-information">Địa chỉ: 141 đường Chiến Thắng, Tân Triều, Thanh Trì, Hà Nội</p>
            </div>
            <div class="social-netword">
                <p class="name-information">Mạng xã hội:</p>
                <div class="center-icon">
                    <div class="facebook-icon icon-footer">
                        <i class="fab fa-facebook-f social-icon__corlor"></i>
                    </div>
                    <div class="twitter-icon icon-footer">
                        <i class="fab fa-twitter social-icon__corlor"></i>
                    </div>
                    <div class="google-icon icon-footer">
                        <i class="fab fa-google social-icon__corlor"></i>
                    </div>
                    <div class="wifi-icon icon-footer">
                        <i class="fas fa-wifi social-icon__corlor"></i>
                    </div>
                    <div class="youtobe-icon icon-footer">
                        <i class="fab fa-youtube social-icon__corlor"></i>
                    </div>
                    <div class="email-icon icon-footer">
                        <i class="fas fa-envelope social-icon__corlor"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="/js/HomePage.js"></script>

</html>