<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/adminShow.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/showProduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product management</title>
</head>

<body>
    <div class="container-fluid container_body">
        <div class="pt-1">
            <div class="navi_admin pe-5">
                <div class="management p-2 d-flex align-items-center">
                    Product management
                </div>
                <div class="d-flex align-items-center">
                    <div class="p-2">
                        <i class="fas fa-flag icon_notece"></i>
                    </div>
                    <div class="name_Admin p-2">name</div>
                    <div class="avata_Admin ">
                        <img src="/images/anh.jpg" alt="anh" width="65px" height="65px" style=" border: 1px solid rgba(100, 100, 111, 0.2); box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="navi_management">

                <div class="list_management">
                    <div class="p-1 list_product">
                        <a href="/product/show" style="text-decoration: none; color: white; font-size: 19px;">
                        Product
                    </a>

                    </div>
                    <div class=" p-1 list_a">
                        <a href="/detail/show" style="text-decoration: none; color: white; font-size: 19px;">
                        Show detail
                    </a>
                    </div>
                    <div class=" p-1 list_a">
                        <a href="/product/colorShow" style="text-decoration: none; color: white; font-size: 19px;">
                        Show color
                    </a>
                    </div>
                </div>
            </div>
            <div class="p-3 " style=" flex-grow: 1; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 100%;">
                <div class="d-flex" style="justify-content: space-between;">
                    <div class="px-1">
                        <button type="button" class="btn btn-success"><a href="/product/group"
                style="color: white;  text-decoration: none;">Create Group</a></button>
                    </div>
                    <div class="px-1">
                        <button type="button" class="btn btn-success"><a href="/product/create"
                        style="color: white;  text-decoration: none;">Create product</a></button>
                    </div>
                    <div class="search ps-5">
                        <form class="ml-auto d-flex" action="/product/search" method="GET">
                            <input type="text" placeholder="Search" class="input" name="search">
                            <div class="icon_search" style="color: white;"> <i class="fas fa-search color_icon"></i></div>
                        </form>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">nameProduct</th>
                                <th scope="col">priceProduct</th>
                                <th scope="col">bandProduct</th>
                                <th scope="col">imageProduct</th>
                                <th scope="col">amoutProduct</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Add detailProduct</th>
                                <th scope="col">Add colorProduct</th>
                                <th scope="col">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% product.forEach(function(p, index){ %>
                                <tr>
                                    <td class="table-primary">
                                        <%= index + 1 %>
                                    </td>
                                    <td class="table-primary">
                                        <%= p.name%>
                                    </td>
                                    <td class="table-primary">
                                        <%= p.price%>
                                    </td>
                                    <td class="table-primary">
                                        <%= p.brand%>
                                    </td>
                                    <td class="table-primary">
                                        <img src="\<%= p.image%>" width="50" height="50px" aria-multiselectable="false">
                                    </td>
                                    <td class="table-primary" style="text-align: center;">
                                        <%= p.amount%>
                                    </td>

                                    <td class="table-primary">
                                        <a href="/product/create?id=<%= p.id%> "> <i class="fas fa-edit"></i></a>
                                    </td>
                                    <td class="table-primary" style="text-align: center;">
                                        <a href="/detail/create?id=<%= p.id%>" style="color: #198754;"><i class="fas fa-asterisk"></i></a>
                                    </td>
                                    <td class="table-primary" style="text-align: center;">
                                        <a href="/product/color?id=<%= p.id%>" style="color: #198754;"><i class="fas fa-angle-double-right"></i></a>
                                    </td>
                                    <td class="table-primary" id="delete" onclick="click()">

                                        <button type="button" style="background-color: red; border: none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= p.id%>">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>

                                        <div class="modal fade" id="exampleModal-<%= p.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button style="background-color: red;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <a href="/product/delete?id=<%= p.id%>">xoa</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>

                        </tbody>
                    </table>
                    <div class="naviPage ">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


        </div>

    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>
</script>

</html>